# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL="https://qyfnluqgewabgexghala.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF5Zm5sdXFnZXdhYmdleGdoYWxhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTMzNDY4NjUsImV4cCI6MjAyODkyMjg2NX0.sADGiMhNIjRN13C2we8hsCzE5f4WExhp27VeUvdfmvU"
